---
import Navigation from "../components/Navigation.astro";

interface Props {
  description: string;
  keywords: string;
  title: string;
  prev?: {
    href: string;
    title: string;
  };
  next?: {
    href: string;
    title: string;
  };
  hideNavigation?: boolean;
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site).href.replace(
  /\/+$/,
  ""
);
const { description, keywords, title, prev, next, hideNavigation } =
  Astro.props;
---

<!doctype html>
<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Luca Lischetti" />
    <link type="text/plain" rel="author" href="/humans.txt" />
    <link rel="canonical" href={canonicalURL} />
    <title>{title}</title>
  </head>
  <body>
    {!hideNavigation && <Navigation prev={prev} next={next} />}
    <slot />
    {!hideNavigation && <Navigation prev={prev} next={next} />}
    <footer>
      <p>
        &copy; <a href="https://sirlisko.com">Luca Lischetti</a> (<a
          href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.it"
          >licenza</a
        >), scritto Gennaio - Marzo 2010, ultima modifica Giugno 2012.
      </p>
      <p>
        Codice del sito disponibile su Github <a
          href="https://github.com/sirLisko/assistivetechnology.it"
          >https://github.com/sirLisko/assistivetechnology.it</a
        >.
      </p>
    </footer>
  </body>
</html>

<style is:global>
  *[accesskey]:after {
    content: "[" attr(accesskey) "]";
  }
  body {
    font-family: tahoma, arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header,
  table {
    text-align: center;
  }
  table {
    border-collapse: collapse;
  }
  td {
    border: 1px solid #000;
  }
  h1 {
    margin-bottom: 1.4em;
    page-break-before: left;
    line-height: 1.25;
  }
  @media (min-width: 650px) {
    h1 {
      font-size: 200%;
    }
  }
  h1 .capitolo {
    display: block;
    font-size: 0.75em;
    font-weight: normal;
    margin-bottom: 1rem;
  }
  @media (min-width: 650px) {
    h1 .capitolo {
      font-size: 50%;
    }
  }
  article {
    color: #222;
    line-height: 150%;
    max-width: 850px;
  }
  article,
  footer {
    padding: 1em;
  }
  @media (min-width: 650px) {
    article,
    footer {
      padding: 3em 5em;
    }
  }
  footer {
    text-align: center;
  }
  .referenze {
    font-size: 80%;
    line-height: 100%;
    margin-top: 3em;
  }
  .referenze a {
    line-break: anywhere;
  }
  .referenze li {
    line-height: 2;
  }
  .referenze li a:first-child {
    font-weight: bold;
    text-decoration: none;
  }
  footer {
    color: #aaa;
    font-size: 80%;
    line-height: 150%;
    margin-top: 2em;
  }

  :target {
    background-color: #def;
  }

  @media (max-width: 650px) {
    pre {
      white-space: pre-line;
      padding: 1em;
    }
  }
  img {
    max-width: 100%;
  }
</style>
